services:
  redis:
    image: redis/redis-stack:latest
    container_name: redis-stack
    ports:
      - "9379:6379"
    environment:
      - REDIS_ARGS=--requirepass 123456
    volumes:
      - F:\docker\redis-stack\data:/data
    restart: unless-stopped

    # docker-componse up -d 在当前目录执行